<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>base.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>base.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostOperator</servlet-name>
        <servlet-class>base.PostOperator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicOperator</servlet-name>
        <servlet-class>base.TopicOperator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOperator</servlet-name>
        <servlet-class>base.UserOperator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostOperator</servlet-name>
        <url-pattern>/PostOperator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicOperator</servlet-name>
        <url-pattern>/TopicOperator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOperator</servlet-name>
        <url-pattern>/UserOperator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
