
#forumpage{
 
    min-height:1000px;
    width:900px;
    background-color:#ddddec;
  
}

#banner{
    width: 900px;
    height:150px;
    background-color:#5757e7;
    font-size: 40px;
    text-align: center;

}

#userbox{
    height:200px;
    width:200px;
    background-color:#796b9e;
    margin-left:690px;  
    margin-top:50px;

}
#newpost textArea{
    resize: none;
    margin-left: 10px;
}
#newpost input{
    float:right;
}

a:visited{
    color:  black;
}
a:link{
    text-decoration: none;
    color:black;
}

#contentpage{
    height:auto;
    overflow: auto;
    min-height:700px;
    width:640px;
    background-color: #ddddec;
    float:left;
    margin-left: 10px;
    margin-top:10px;
    padding-bottom: 100px;
}

#footer{
    height:100px;
    width:900px;
    background-color: orange;
    margin-top:550px;
    padding-top:-100px;
    clear:both;
}

#newpost{
    height:130px;
    width:450px;
    background-color:#87E7DF;
    margin-left:100px;
}

#newtopic{
   margin-left:57%;
}


.post{
    margin-left:30px;
    margin-top:10px;

}
.posthead{
    background-color: #ccccff;
    width:550px;
    height:50px;
}

.postcontent{
    background-color:#e1e1ee;
    height:80px;
    width:550px;
}

.topic,.category{
    margin-left:30px;
    margin-top:10px;
    background-color: #ccccff;
    width:550px;
    height:30px;
}



h2{
    text-align: center;
}

.welcomemessage{
    font-size: 25px;
    margin-top:5px;
    margin-bottom: 20px;
    
}

#usermenu{
    font-size: 14px;
    margin-top:10px;
    margin-bottom: 20px;
   
}

#error{
    margin-left:200px;
}